In [190]:
from bs4 import BeautifulSoup
import requests
import urllib.request 
import os
import argparse
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
#from fake_useragent import UserAgent

In [191]:
import re

df = pd.DataFrame()

In [192]:
session = requests.Session()
chrome_path = r"C:\Users\Apurva Joshi\Desktop\99acers_webscrap-2\chromedriver.exe"

In [193]:
session.headers['User-Agent']

'python-requests/2.18.4'

In [194]:
my_headers={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36",
            "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3"}

In [195]:
#url = 'https://www.99acres.com/property-in-mumbai-ffid'
url = 'https://www.99acres.com/property-in-mumbai-ffid-page-1'
response = session.get(url, headers=my_headers)
driver = webdriver.Chrome(chrome_path)
driver.get(url)
pag = driver.find_element_by_tag_name("html")
pag.send_keys(Keys.END)

In [196]:
response.text[:500]

'<!doctype html>\n<html>\n<head>\n    \n<link rel="icon" type="image/png" href="https://www.99acres.com/favicon.png" />\n\n<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>\n<meta http-equiv="content-language" content="en"/>\n<link rel="dns-prefetch" href="https://static.99acres.com/"><link rel="dns-prefetch" href="//stats.g.doubleclick.net"><link rel="dns-prefetch" href="http://b.scorecardresearch.com"><link rel="dns-prefetch" href="http://static.ieplads.com/"><link rel="dns-prefetch"'

In [197]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [198]:
html_soup.body.div

<div id="SRP-listing">
<ul class="content c">
<li id="zedobanner1"></li>
<li class="textc" id="zedobanner2"></li>
<li id="zedobanner3"></li>
</ul>
</div>

In [199]:
info_containers = html_soup.find_all('div')
print(type(info_containers))
print(len(info_containers))

<class 'bs4.element.ResultSet'>
1167

In [200]:
conts = html_soup.body.findAll("div",{"class":"srpNw_tble"})

In [201]:
len(conts)

30

In [202]:
#conts[0]

In [203]:
cont = conts[0]
x = conts[1]
type(cont)

bs4.element.Tag

In [204]:
cont.th.h2.a.span

In [205]:
cont.th.h2.a.span["title"]

'₹ 61 Lac 1 BHK Residential Apartment in Kandivali (West)'

In [206]:
x.th.h2.a.span["title"]

'₹ 1.35 Crore 2 BHK Residential Apartment in Pokhran-2'

In [207]:
date_by_type=html_soup.body.findAll("span",{"class":"srpNw_dlrNme"})
len(date_by_type)
dbt = date_by_type[0]
x = date_by_type[1]
type(date_by_type)

bs4.element.ResultSet

In [208]:
type_builder=""
date_by_type[0].text.split(' by')[0]
by=date_by_type[0].a.text
print(by)
str1 = date_by_type[1].text
if "(Dealer)" in str1:
    type_builder = "Dealer"
if "(Builder)" in str1:
    type_builder = "Builder"
if "(Owner)" in str1:
    type_builder = "Owner"

Ruparel Realty

In [209]:
#date_by_type

In [210]:
date=[]
by1=[]
tyee_builder1=[]

for dbt1 in date_by_type:
    date.append(dbt1.text.split(' by')[0])
    try:
        by1.append(dbt1.a.text)
    
    # write some code 
    # that might throw exception
    except AttributeError:
        by1.append("individual dealer")
        # Exception handler, alert the user
dbr1=0
for dbt1 in date_by_type:
    str1 = dbt1.text
    if "(Dealer)" in str1:
        type_builder = "Dealer"
    elif "(Builder)" in str1:
        type_builder = "Builder"
    elif "(Owner)" in str1:
        type_builder = "Owner"
    else:
        type_builder = ""
    tyee_builder1.append(type_builder)
  
print(tyee_builder1)
print(by1)
print(date)

['Builder', 'Dealer', 'Builder', 'Owner', 'Builder', 'Builder', 'Owner', 'Builder', 'Owner', 'Builder', 'Builder', 'Builder', 'Builder', 'Builder', 'Builder', 'Builder', 'Builder', 'Owner', 'Builder', 'Builder', 'Builder', 'Owner', '', 'Dealer', 'Dealer', 'Builder', 'Builder', 'Owner', 'Builder', 'Owner']
['Ruparel Realty', 'Ideal Properties', 'Vardhan Developers', 'individual dealer', 'Mahindra Lifespaces Developers Ltd', 'Shapoorji Pallonji', 'individual dealer', 'West Pioneer Properties India Pvt. Ltd', 'individual dealer', 'Godrej Properties Limited', 'Shapoorji Pallonji', 'Shapoorji Pallonji', 'West Pioneer Properties India Pvt. Ltd', 'Amardeep Constructions', 'L & T Realty', 'Mahindra Lifespaces Developers Ltd', 'Dhuleva Group', 'individual dealer', 'Dhuleva Group', 'Dhuleva Group', 'Godrej Properties Limited', 'individual dealer', 'individual dealer', 'Siddhi estate agency', 'Alibag Properties', 'Prajapati Developers', 'Thakural Constructions', 'individual dealer', 'Puneet Urban Spaces', 'individual dealer']
['Posted on Sep 03, 2019', 'Posted on Sep 27, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Oct 01, 2019', 'Posted on Oct 02, 2019', 'Posted on Sep 27, 2019', 'Posted on Sep 24, 2019', 'Posted on Sep 24, 2019', 'Posted on Oct 01, 2019', 'Posted on Sep 09, 2019', 'Posted on Sep 18, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Oct 02, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 27, 2019', 'Posted on Sep 30, 2019', 'Posted on Sep 16, 2019.', 'Posted on Sep 17, 2019', 'Posted on Jul 23, 2019', 'Posted on Sep 03, 2019', 'Posted on Aug 23, 2019', 'Posted on Oct 01, 2019', 'Posted on Sep 09, 2019', 'Posted on Sep 30, 2019']

In [211]:
#date1[1].text.split(' by')[0]

In [212]:
price1 = cont.findAll("span",{"class":"srpNw_price"})
price1=price1[0].text
print(price1)
#bath_bal.append(bath_bal1[0].text.strip())

 ₹61 L

In [213]:
title=[]
sq_ft=[]
area=[]
bhk1=[]
possess=[]
per_sq=[]
bath_bal=[]
price=[]

for cont in conts:
    title.append(cont.th.h2.a.span["title"])
    area.append(cont.table.tbody.tr.b.text)
    sq = cont.findAll("td",{"class":"_auto_areaValue"})
    sq_ft.append(sq[0].b.text)
    bhk = cont.findAll("td",{"class":"_auto_bedroom"})
    bhk1.append(bhk[0].b.text)
    poss = cont.findAll("td",{"class":"_auto_possesionLabel"})
    possess.append(poss[0].text.strip())
    per_sq1 = cont.findAll("td",{"class":"_auto_ppu_area"})
    per_sq.append(per_sq1[0].text)
    bath_bal1 = cont.findAll("td",{"class":"_auto_bath_balc_roadText"})
    bath_bal.append(bath_bal1[0].text.strip())
    price1 = cont.findAll("span",{"class":"srpNw_price"})
    price.append(price1[0].text)

In [214]:
df['Title'] = title
df['Area'] = area
df['Sq_ft'] = sq_ft
df['BHK'] = bhk1
df['POSSESS'] = possess
df['PER_SQ_PRICE'] = per_sq
df['BATH_BAL'] = bath_bal
df['PIRICE'] = price
df['DATE'] = date
df['BY']= by1
df['TYPE_POSTER'] = tyee_builder1

In [215]:
print(df)

                                                Title                   Area  \
0   ₹ 61 Lac 1 BHK Residential Apartment in Kandiv...    in Kandivali (West)
1   ₹ 1.35 Crore 2 BHK Residential Apartment in Po...           in Pokhran-2
2   ₹ 69.99 Lac 1 BHK Residential Apartment in Che...             in Chembur
3      ₹ 62 Lac 2 BHK Residential Apartment in Taloja              in Taloja
4   ₹ 2.12 Crore to 2.99 Crore 2 BHK Residential A...      in Andheri (East)
5   ₹ 1.22 Crore 2 BHK Residential Apartment in Th...          in Thane West
6   ₹ 90 Lac 3 BHK Residential Apartment in Dombiv...     in Dombivli (East)
7   ₹ 1.3 Crore 3 BHK Residential Apartment in Kal...       in Kalyan (East)
8   ₹ 1.46 Crore 2 BHK Residential Apartment in Se...   in Sector-8B Belapur
9   ₹Price on Request 3 BHK Residential Apartment ...    in Kandivali (East)
10  ₹ 2.14 Crore 2 BHK Residential Apartment in Ch...          in Chandivali
11  ₹ 2.53 Crore 3 BHK Residential Apartment in Ch...          in Chandivali
12  ₹ 85 Lac 2 BHK Residential Apartment in Kalyan...       in Kalyan (East)
13  ₹ 2.34 Crore to 2.71 Crore 3 BHK Residential A...       in Mulund (East)
14  ₹ 9.89 Crore 4 BHK Residential Apartment in Parel               in Parel
15  ₹ 1.45 Crore to 1.68 Crore 1 BHK Residential A...      in Andheri (East)
16  ₹ 3.24 Crore 3 BHK Residential Apartment in Parel               in Parel
17  ₹ 60 Lac 2 BHK Residential Apartment in Kher S...        in Kher Section
18  ₹ 2.16 Crore Onwards 2 BHK Residential Apartme...               in Parel
19  ₹ 1.58 Crore 1 BHK Residential Apartment in Parel               in Parel
20  ₹Price on Request 2 BHK Residential Apartment ...    in Kandivali (East)
21  ₹ 59 Lac 1 BHK Residential Apartment in Thane ...          in Thane West
22  ₹ 2.21 Crore 2 BHK Residential Apartment in Ma...        in Malad (East)
23  ₹ 1.65 Crore 2 BHK Residential Apartment in Mu...       in Mulund (West)
24  ₹ 2.7 Crore 3 BHK Residential Apartment in Hir...  in Hiranandani Estate
25  ₹ 1.4 Crore 3 BHK Residential Apartment in Panvel              in Panvel
26  ₹ 4.5 Crore 3 BHK Residential Apartment in Pra...      in Prabhat Colony
27  ₹ 1.25 Crore 2 BHK Residential Apartment in Pa...              in Panvel
28  ₹ 1.17 Crore to 1.31 Crore 2 BHK Residential A...        in Kurla (East)
29  ₹ 1.95 Crore 2 BHK Residential Apartment in go...       in goregaon east

             Sq_ft     BHK                  POSSESS  PER_SQ_PRICE  \
0              322  1 BHK   Possession in Dec  2021  18944/sq.ft.
1             1000  2 BHK             Ready To Move  13500/sq.ft.
2           320.44  1 BHK   Possession in Dec  2021  21843/sq.ft.
3             1080  2 BHK             Ready To Move   5740/sq.ft.
4        667 - 942  2 BHK   Possession in Mar  2024  31729/sq.ft.
5              600  2 BHK                New Launch  20333/sq.ft.
6              940  3 BHK             Ready To Move   9574/sq.ft.
7             1044  3 BHK   Possession in Dec  2023
8              900  2 BHK             Ready To Move  16222/sq.ft.
9              860  3 BHK                New Launch
10             888  2 BHK   Possession in Jun  2021  24099/sq.ft.
11            1061  3 BHK   Possession in Jun  2021  23845/sq.ft.
12             715  2 BHK   Possession in Dec  2023
13      865 - 1005  3 BHK   Possession in May  2020  27000/sq.ft.
14            1731  4 BHK             Ready To Move
15       457 - 529  1 BHK   Possession in Mar  2024  31729/sq.ft.
16          887.81  3 BHK   Possession in Dec  2020
17             885  2 BHK             Ready To Move   6779/sq.ft.
18  638.3 - 695.89  2 BHK   Possession in Dec  2020
19          467.04  1 BHK   Possession in Dec  2020
20             606  2 BHK                New Launch
21             596  1 BHK             Ready To Move   9899/sq.ft.
22            1200  2 BHK             Ready To Move  18416/sq.ft.
23            1000  2 BHK             Ready To Move  16500/sq.ft.
24            1900  3 BHK             Ready To Move  14210/sq.ft.
25            1080  3 BHK   Possession in Dec  2024  12963/sq.ft.
26            1250  3 BHK             Ready To Move  36000/sq.ft.
27            1200  2 BHK   Possession in Oct  2020  10416/sq.ft.
28       511 - 570  2 BHK                New Launch  22896/sq.ft.
29            1290  2 BHK   Possession in Nov  2019  15116/sq.ft.

                 BATH_BAL               PIRICE                     DATE  \
0                  1 Bath                ₹61 L   Posted on Sep 03, 2019
1      2 Baths, 1 Balcony             ₹1.35 Cr   Posted on Sep 27, 2019
2                  1 Bath             ₹69.99 L   Posted on Sep 30, 2019
3    2 Baths, 2 Balconies                ₹62 L   Posted on Sep 30, 2019
4                 2 Baths   ₹2.12 Cr - 2.99 Cr   Posted on Sep 30, 2019
5                                     ₹1.22 Cr   Posted on Sep 30, 2019
6                 2 Baths                ₹90 L   Posted on Sep 30, 2019
7                 3 Baths              ₹1.3 Cr   Posted on Oct 01, 2019
8    2 Baths, 2 Balconies             ₹1.46 Cr   Posted on Oct 02, 2019
9                 3 Baths     Price on Request   Posted on Sep 27, 2019
10                                    ₹2.14 Cr   Posted on Sep 24, 2019
11                3 Baths             ₹2.53 Cr   Posted on Sep 24, 2019
12                2 Baths                ₹85 L   Posted on Oct 01, 2019
13                3 Baths   ₹2.34 Cr - 2.71 Cr   Posted on Sep 09, 2019
14                4 Baths             ₹9.89 Cr   Posted on Sep 18, 2019
15                 1 Bath   ₹1.45 Cr - 1.68 Cr   Posted on Sep 30, 2019
16                3 Baths             ₹3.24 Cr   Posted on Sep 30, 2019
17     2 Baths, 1 Balcony                ₹60 L   Posted on Oct 02, 2019
18                2 Baths     ₹2.16 Cr Onwards   Posted on Sep 30, 2019
19                 1 Bath             ₹1.58 Cr   Posted on Sep 30, 2019
20                2 Baths     Price on Request   Posted on Sep 27, 2019
21     2 Baths, 1 Balcony                ₹59 L   Posted on Sep 30, 2019
22  2 Baths, 3+ Balconies             ₹2.21 Cr  Posted on Sep 16, 2019.
23                2 Baths             ₹1.65 Cr   Posted on Sep 17, 2019
24     3 Baths, 1 Balcony              ₹2.7 Cr   Posted on Jul 23, 2019
25                                     ₹1.4 Cr   Posted on Sep 03, 2019
26                3 Baths              ₹4.5 Cr   Posted on Aug 23, 2019
27     2 Baths, 1 Balcony             ₹1.25 Cr   Posted on Oct 01, 2019
28                          ₹1.17 Cr - 1.31 Cr   Posted on Sep 09, 2019
29   2 Baths, 3 Balconies             ₹1.95 Cr   Posted on Sep 30, 2019

                                        BY TYPE_POSTER
0                           Ruparel Realty     Builder
1                         Ideal Properties      Dealer
2                       Vardhan Developers     Builder
3                        individual dealer       Owner
4       Mahindra Lifespaces Developers Ltd     Builder
5                       Shapoorji Pallonji     Builder
6                        individual dealer       Owner
7   West Pioneer Properties India Pvt. Ltd     Builder
8                        individual dealer       Owner
9                Godrej Properties Limited     Builder
10                      Shapoorji Pallonji     Builder
11                      Shapoorji Pallonji     Builder
12  West Pioneer Properties India Pvt. Ltd     Builder
13                  Amardeep Constructions     Builder
14                            L & T Realty     Builder
15      Mahindra Lifespaces Developers Ltd     Builder
16                           Dhuleva Group     Builder
17                       individual dealer       Owner
18                           Dhuleva Group     Builder
19                           Dhuleva Group     Builder
20               Godrej Properties Limited     Builder
21                       individual dealer       Owner
22                       individual dealer
23                    Siddhi estate agency      Dealer
24                       Alibag Properties      Dealer
25                    Prajapati Developers     Builder
26                  Thakural Constructions     Builder
27                       individual dealer       Owner
28                     Puneet Urban Spaces     Builder
29                       individual dealer       Owner

In [216]:
pages = html_soup.findAll("a",{"class":"pgsel"})
print(pages[-1].text)
last = pages[-1].text
last=int(last)
print(cont.table.tbody.tr.b.text)
pages_list=[]
for i in range(1,last+1):
    pages_list.append(i)
for i in pages_list:   
    url = 'https://www.99acres.com/property-in-mumbai-ffid-page-{}'.format(i)
#print(url)
len(pages_list)

3032
in goregaon east

3032

In [ ]:
title=[]
sq_ft=[]
area=[]
bhk1=[]
possess=[]
per_sq=[]
bath_bal=[]
price=[]
date=[]
by1=[]
tyee_builder1=[]


for i in range(1,50):
    
    print(i)
    url = 'https://www.99acres.com/property-in-mumbai-ffid-page-{}'.format(i)
    driver = webdriver.Chrome(chrome_path)
    driver.get(url)
    pag = driver.find_element_by_tag_name("html")
    pag.send_keys(Keys.END)
    time.sleep(5)
    response = session.get(url, headers=my_headers)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    conts = html_soup.body.findAll("div",{"class":"srpNw_tble"})
    print(len(conts))
    date_by_type=html_soup.body.findAll("span",{"class":"srpNw_dlrNme"})
    for cont in conts:
        title.append(cont.th.h2.a.span["title"])
        area.append(cont.table.tbody.tr.b.text)
        sq = cont.findAll("td",{"class":"_auto_areaValue"})
        sq_ft.append(sq[0].b.text)
        bhk = cont.findAll("td",{"class":"_auto_bedroom"})
        bhk1.append(bhk[0].b.text)
        poss = cont.findAll("td",{"class":"_auto_possesionLabel"})
        possess.append(poss[0].text.strip())
        per_sq1 = cont.findAll("td",{"class":"_auto_ppu_area"})
        per_sq.append(per_sq1[0].text)
        bath_bal1 = cont.findAll("td",{"class":"_auto_bath_balc_roadText"})
        bath_bal.append(bath_bal1[0].text.strip())
        price1 = cont.findAll("span",{"class":"srpNw_price"})
        price.append(price1[0].text)
    for dbt1 in date_by_type:
        date.append(dbt1.text.split(' by')[0])
        try:
            by1.append(dbt1.a.text)

        # write some code 
        # that might throw exception
        except AttributeError:
            by1.append("individual dealer")
            # Exception handler, alert the user
    dbr1=0
    for dbt1 in date_by_type:
        str1 = dbt1.text
        if "(Dealer)" in str1:
            type_builder = "Dealer"
        elif "(Builder)" in str1:
            type_builder = "Builder"
        elif "(Owner)" in str1:
            type_builder = "Owner"
        else:
            type_builder = ""
        tyee_builder1.append(type_builder)
    time.sleep(2)

1
0
2
1
3
25
4
12
5
3
6

In [ ]:
#df.drop(df.index, inplace=True)
print(df)

In [ ]:

df['Title'] = title
df['Area'] = area
df['Sq_ft'] = sq_ft
df['BHK'] = bhk1
df['POSSESS'] = possess
df['PER_SQ_PRICE'] = per_sq
df['BATH_BAL'] = bath_bal
df['PIRCE'] = price
df['DATE'] = date
df['BY']= by1
df['TYPE_POSTER'] = tyee_builder1

In [ ]:
title.append['dasd']
df['Title']=
print(df)

In [ ]:
df_copy = df

In [199]:
pd.concat([df1, df2])
print(df_copy)

Empty DataFrame
Columns: [Title, Area, Sq_ft, BHK, POSSESS, PER_SQ_PRICE, BATH_BAL, PIRICE, DATE, BY, TYPE_POSTER, PIRCE]
Index: []

In [ ]:
df_copy.to_csv("99acers_mumbai9.csv")